body{
   height: 95vh; 
   width: 95;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   color: rgb(10, 78, 10);
   background-color: rgb(77, 73, 62);
}